@import "tailwindcss";

:root {
  --bg: #d1ccc4;
  --surface: #dad8d0;
  --border: #af9c9c;
  --text: #2b2a28;
  --text-muted: #6b645c;
  --accent: #818cf8;
}

.dark {
  --bg: #18181b;
  --surface: #27272a;
  --border: #3f3f46;
  --text: #e4e4e7;
  --text-muted: #a1a1aa;
  --accent: #818cf8;
}

.bg-theme {
  background-color: var(--bg);
}

.bg-surface {
  background-color: var(--surface);
}

.text-theme {
  color: var(--text);
}

.text-muted {
  color: var(--text-muted);
}

.border-theme {
  border-color: var(--border);
}

.accent {
  color: var(--accent);
}

.bg-accent {
  background-color: var(--accent);
}